In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [5]:
housing_data_uncleaned = pd.read_csv("data/PrimaryDataset-MLS-RentalProperties.csv")

print(housing_data_uncleaned.shape)
housing_data_uncleaned.info()

(1749, 77)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1749 entries, 0 to 1748
Data columns (total 77 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   List Number                           1749 non-null   object
 1   Agency Phone                          1736 non-null   object
 2   Listing Agent                         1749 non-null   object
 3   Co-Listing Agent                      285 non-null    object
 4   Property Type                         1749 non-null   object
 5   Card Format                           1749 non-null   object
 6   Book Section                          1749 non-null   object
 7   Property Sub Type                     1749 non-null   object
 8   Listing Contract Date                 1749 non-null   object
 9   Back on Market Date                   78 non-null     object
 10  Status                                1749 non-null   object
 11  Status Change Timestamp               1749 non-null   object
 12  Original List Price                   1749 non-null   int64
 13  List Price                            1749 non-null   int64
 14  Living Area Source                    1749 non-null   object
 15  MLS Area Major                        1749 non-null   int64
 16  Lock Box Number                       22 non-null     object
 17  Street Direction Prefix               78 non-null     object
 18  Street Direction Suffix               183 non-null    object
 19  Non-Representative Compensation Type  1733 non-null   object
 20  City                                  1749 non-null   object
 21  State                                 1749 non-null   object
 22  County                                1749 non-null   object
 23  Country                               1704 non-null   object
 24  Postal Code                           1748 non-null   float64
 25  Stories Total                         1742 non-null   float64
 26  Stories                               869 non-null    float64
 27  Latitude                              1749 non-null   float64
 28  Longitude                             1749 non-null   float64
 29  GeoID                                 1749 non-null   float64
 30  Living Area                           1749 non-null   float64
 31  Year Built                            1749 non-null   int64
 32  Direction Faces                       133 non-null    object
 33  Lot Size Dimensions                   25 non-null     object
 34  Bedrooms Total                        1749 non-null   int64
 35  Bathrooms Total                       1749 non-null   int64
 36  Bathrooms Full                        1749 non-null   int64
 37  Bathrooms Half                        1748 non-null   float64
 38  Parcel Number                         1745 non-null   object
 39  Owner Name                            217 non-null    object
 40  mod_timestamp                         767 non-null    object
 41  Association Fee Frequency             146 non-null    object
 42  Occupant Type                         682 non-null    object
 43  Listing Agreement                     1733 non-null   object
 44  Association Fee 2 Frequency           13 non-null     object
 45  Listing Service                       1733 non-null   object
 46  Lease Term                            1749 non-null   object
 47  Association Fee                       143 non-null    float64
 48  Building Area Total                   63 non-null     float64
 49  Garage Spaces                         1056 non-null   float64
 50  Association Fee 2                     16 non-null     float64
 51  List Price/SqFt                       1740 non-null   float64
 52  Availability Date                     1092 non-null   object
 53  Start Showing Date                    75 non-null     object
 54  Association Name                      62 non-null     object
 55  Association YN                        1749 non-null   object
 56  Carport YN                            1733 non-null   object
 57  Property Attached YN                  224 non-null    object
 58  Furnished                             854 non-null    object
 59  Lot Size Acres                        1283 non-null   float64
 60  Contingent Date                       1 non-null      object
 61  Senior Community YN                   1734 non-null   object
 62  Waterfront YN                         1749 non-null   object
 63  Water Frontage Feet                   3 non-null      float64
 64  Accessory Dwelling Unit Y/N           222 non-null    object
 65  Rental Service                        911 non-null    object
 66  Garage YN                             1733 non-null   object
 67  Carport Spaces                        87 non-null     float64
 68  Non-Representative Compensation       1732 non-null   float64
 69  Entry Level                           430 non-null    float64
 70  Accessibility Features YN             1732 non-null   object
 71  Unit Type                             98 non-null     object
 72  Comp Sale YN                          430 non-null    object
 73  Price Change Timestamp                361 non-null    object
 74  Days on Market                        1749 non-null   int64
 75  Rooms                                 311 non-null    object
 76  Features                              1748 non-null   object
dtypes: float64(18), int64(8), object(51)
memory usage: 1.0+ MB

In [6]:
housing_data_uncleaned.columns

Index(['List Number', 'Agency Phone', 'Listing Agent', 'Co-Listing Agent',
       'Property Type', 'Card Format', 'Book Section', 'Property Sub Type',
       'Listing Contract Date', 'Back on Market Date', 'Status',
       'Status Change Timestamp', 'Original List Price', 'List Price',
       'Living Area Source', 'MLS Area Major', 'Lock Box Number',
       'Street Direction Prefix', 'Street Direction Suffix',
       'Non-Representative Compensation Type', 'City', 'State', 'County',
       'Country', 'Postal Code', 'Stories Total', 'Stories', 'Latitude',
       'Longitude', 'GeoID', 'Living Area', 'Year Built', 'Direction Faces',
       'Lot Size Dimensions', 'Bedrooms Total', 'Bathrooms Total',
       'Bathrooms Full', 'Bathrooms Half', 'Parcel Number', 'Owner Name',
       'mod_timestamp', 'Association Fee Frequency', 'Occupant Type',
       'Listing Agreement', 'Association Fee 2 Frequency', 'Listing Service',
       'Lease Term', 'Association Fee', 'Building Area Total', 'Garage Spaces',
       'Association Fee 2', 'List Price/SqFt', 'Availability Date',
       'Start Showing Date', 'Association Name', 'Association YN',
       'Carport YN', 'Property Attached YN', 'Furnished', 'Lot Size Acres',
       'Contingent Date', 'Senior Community YN', 'Waterfront YN',
       'Water Frontage Feet', 'Accessory Dwelling Unit Y/N', 'Rental Service',
       'Garage YN', 'Carport Spaces', 'Non-Representative Compensation',
       'Entry Level', 'Accessibility Features YN', 'Unit Type', 'Comp Sale YN',
       'Price Change Timestamp', 'Days on Market', 'Rooms', 'Features'],
      dtype='object')

In [7]:
relevant_columns = [
    'List Price', 'Bedrooms Total', 'Bathrooms Total', 'Living Area', 
    'MLS Area Major', 'Year Built', 
    'Lot Size Acres', 'Days on Market', 'Non-Representative Compensation',
    'Waterfront YN', 'Garage YN', 'Stories Total', 'Stories', 'Bedrooms Total', 'Bathrooms Total',
    'Bathrooms Full', 'Bathrooms Half', 'Garage YN', 'Garage Spaces', 'Original List Price', 'Latitude', 'Longitude', 'Rooms', 'Features'
]

numerical_columns = [
    'List Price', 'Bedrooms Total', 'Bathrooms Total', 'Living Area', 
    'MLS Area Major', 'Year Built', 
    'Lot Size Acres', 'Days on Market', 'Non-Representative Compensation',
    'Stories Total', 'Stories', 'Bedrooms Total', 'Bathrooms Total',
    'Bathrooms Full', 'Bathrooms Half', 'Garage Spaces', 'Original List Price', 'Latitude', 'Longitude'
]

# Drop the irrelevant columns
numerical_housing_data = housing_data_uncleaned[numerical_columns]

In [8]:
numerical_housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1749 entries, 0 to 1748
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   List Price                       1749 non-null   int64
 1   Bedrooms Total                   1749 non-null   int64
 2   Bathrooms Total                  1749 non-null   int64
 3   Living Area                      1749 non-null   float64
 4   MLS Area Major                   1749 non-null   int64
 5   Year Built                       1749 non-null   int64
 6   Lot Size Acres                   1283 non-null   float64
 7   Days on Market                   1749 non-null   int64
 8   Non-Representative Compensation  1732 non-null   float64
 9   Stories Total                    1742 non-null   float64
 10  Stories                          869 non-null    float64
 11  Bedrooms Total                   1749 non-null   int64
 12  Bathrooms Total                  1749 non-null   int64
 13  Bathrooms Full                   1749 non-null   int64
 14  Bathrooms Half                   1748 non-null   float64
 15  Garage Spaces                    1056 non-null   float64
 16  Original List Price              1749 non-null   int64
 17  Latitude                         1749 non-null   float64
 18  Longitude                        1749 non-null   float64
dtypes: float64(9), int64(10)
memory usage: 259.7 KB

In [9]:
housing_data = numerical_housing_data.dropna()

In [10]:
housing_data

housing_data.to_csv('data/numerical_housing_data.csv', index=False)

In [ ]:
housing

In [15]:
from sklearn.ensemble import IsolationForest

model1 = IsolationForest(n_estimators=100, max_samples='auto', contamination=float(0.1), random_state=12)

x = housing_data

model1.fit(x)

predict = model1.predict(x)

anomalies = x[predict == -1]